@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    /*color: #e4e3e3;*/
}

body {
    margin:0px;
    align-items: baseline;
}/*Essa classe determina o estilo da secção body, retirando as margens, dando a cor do fundo da página e centralizando o conteúdo*/


header h1 {
    text-align: center;
    color: white;
    font-family: "DM Serif Display", serif;
}/*Essa classe define o layout padronizado para títulos 'h1' dentro da tag 'header'*/

header{
    background-color: #353432;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.9);
}

.spacer{
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.0);
}

.large{
    height: 100px;
}

.medium{
    height: 50px;
}

.small{
    height: 30px;
}

/*===================================================================================================================================================================*/

#navbar {
    list-style: none;
    padding-left: 20px;
    width: 100%;
    display: flex;
} /*Essa classe define parametros de estilo para o elemento de id navbar, retirando os indicadores de uma lista não ordenada*/

#navbar ul {
    background-color: #353432;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
} /*Essa classe determina o estilo dos elementos dentro da tag 'ul', dentro da tag de id 'navbar'*/

#navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    overflow: hidden;
} /*Essa classe define o estilo dos elemêntos âncora, dentro do elemento de id 'navbar', retirândo decorações de texto supérfulas e o centralizando*/

#navbar li a:hover {
    background-color: #4e4d4a;
    color: #94ba65;
    transition: background-color .8s; 
    transition: color .8s;
}/*Essa classe determina a animação que */

#navbar li {
    float: left;
}

.wrapper{
    max-width: 80%;
    background-color: #353432;
    display: center;
    justify-content: center;
    padding: 0;
    margin: auto;
    border-radius: 16px;
    box-shadow: 15px 0px 15px 0px rgba(0, 0, 0, 0.9);
} /*O segmento wrapper envolve todo o conteúdo da página, criando o limite de onde o conteúdo aparecerá*/ 


body h1{
    text-align: center;

}

.title-wrap{
    font-family: "Oswald", sans-serif;
    color: #e4e3e3;
    font-weight: 500;
    margin: 15px;
}

ul{
    font-family: "Roboto", sans-serif;
    /*color: #e4e3e3;*/
    font-weight: 100;
    margin: auto;
    justify-content: center;
}

footer{
    background-color: #353432;
    width: 100%;
    height: auto;
    display: flex;

}


/*===================================Text block==============================================*/


.text-block{
    background-color: #cce5ff;
    min-height: 350px;
    max-height: 600px;
    margin: 35px;
    padding: 15px;
    display: flex;
}

.text-container{
    background-color: #eaffc2;
    width: 50%;
    height: auto;
    margin: 10px;
    display: center;
}

.image{
    width: 50%;
    padding: 15px;
    background-color: #ffca99;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.text-block-title{
    background-color: #a3ffac;
    width: 80%;
    max-height: 30%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: left;
}

.text-block-text{
    background-color: #d8f8e1;
    width: auto;
    height: auto;
    max-height: 60%;
    display: center;
    margin: 15px 15px 15px 15px;

}
.block-text{
    padding: 0px 15px 0px 15px;
    text-indent: 30px;
}

.img-container-block3{
    width: 50%;
    padding: 15px;
    background-color: #ffca99;
    margin: 10px;
    background-size: cover;
    background-position: bottom;
}

.text-double-column{
    background-color: #cce5ff;
    min-height: 350px;
    max-height: 600px;
    margin: 35px;
    padding: 15px;
    display: flex;
}

.footer-block{
    text-align: center;
}

.footer-title{
    font-size: 25px;
    font-weight: 600;
}

.footer-title ul{
    list-style: none;
}

.infografic{
    background-color: #cce5ff;
    width:100%;
    height:1000px;
    margin: 0;
    padding: 0;
    display: flex;
    background-size: 500px 400px;
    background-position: center;
    border-radius: 16px;

}

.background{
    width:auto;
    height: 350px;;
}

.info-button{
    position: relative;
}
.logic-chip{
    left: 775px;
    top: 280px;
    transform: rotate(51deg);
    height: 350px;
    width: 350px;
}
.logic-chip:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.ceramic-capacitor{
    height:450px;
    width: 220px;
    top: -290px;
    left: 400px;
}

.ceramic-capacitor:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.cpas-capacitor{
    height: 100px;
    width: 350px;
    top: 100px;
    left: 700px
}

.integrated-circuit{
    width: 80px;
    height: 210px;
    top: -310px;
    left: 220px;
    transform: rotate(53deg)
}

.cpas-capacitor:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.integrated-circuit:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.threads{
    width: 210px;
    height: 210px;
    bottom: 700px;
    left: 1300px;
    transform: rotate(54deg);
    border-radius: 100px;
}

.threads:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.5);
}

.transistor{
    width: 70px;
    height: 200px;
    bottom: 1330px;
    left: 925px;
    transform: rotate(53deg);
}

.transistor:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.logic-chip:click{
    background-color: rgba(255, 255, 255, 1)
}